<footer class="footer bg-alpha-blue text-white py-10 text-lg">
  <div class="container flex flex-col items-center justify-between gap-4 md:flex-row">
      <div>
          <a href="https://site.alphacode.com.br/" target="_blank" rel="noopener noreferrer">Termos</a> |
          <a href="https://site.alphacode.com.br/" target="_blank" rel="noopener noreferrer">Políticas</a>
      </div>
      <div class="flex flex-col items-center md:items-start lg:flex-row">
          <span>&copy; Copyright 2022 | </span>
          <span class="flex lg:ml-1">Desenvolvido por <img src="assets/images/logo_rodape_alphacode.png" alt="AlphaCode"></span>

      </div>

      <span>&copy;Alphacode IT Solutions 2022</span>
  </div>
</footer>
