.mdc-data-table {
  &__header-cell {
    background-color: #2196f3 !important;
    color: white;
  }
  &__header-cell,
  &__cell {
    text-align: center;
  }
}
.actions {
  height: 56px!important;
  display: flex;
  justify-content: center;
}
